:root {
    --darkblue: #1F2937; /* background, info header, quote text color */
    --vividblue: #3882F6;
    --offwhite: #F9FAF8; /* main & logo text color */
    --grey: #E5E7EB; /* quote background & nav links color */
    --darkgrey: #6d747d;
    --width: 20em;
    --sqsize: 200px;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

/* */
/*header */

header {
    background-color: var(--darkblue);
    padding: 2em var(--width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p#logo {
    color: var(--offwhite);
    font-size: 1.7em;
    font-weight: 600;
}
.nav {
    margin-left: 1vw;
    color: var(--offwhite);
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0.9;
}

/* main */

main {
    background-color: var(--darkblue);
    padding: 4em var(--width) 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section#mainSection {
    color: var(--offwhite);
    width: 45%;
    margin-right: 5%;
    
}
h1#h1main {
    font-size: 3em;
    line-height: 1.2em;
}

p#pmain {
    font-size: 1.2em;
    font-weight: 300;
    opacity: 0.9;
    line-height: 1.2em;
    margin: 0.5em 0;
}
button.buttonmain {
    padding: 0.8em 3em;
    background-color: var(--vividblue);
    border-radius: 10px;
    border: none;
}
a.buttonmain {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--offwhite);
    text-decoration: none;
}
aside {
    background-color: var(--darkgrey);
    height: 27vh;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#paside {
    color: var(--grey);
    font-size: 1.1em;
}

/* rectangles */

section#rectangleSection {
    margin: 3rem 20em 4rem;
}
h2#h2sq {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.3em;
}
div#squares {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div.square {
    border: 5px solid var(--vividblue);
    border-radius: 20px;
    width: var(--sqsize);
    height: var(--sqsize);
    margin-bottom: 0.8em;
}
p.underSquares {
    line-height: 1.4em;
    max-width: var(--sqsize);
    text-align: center;
}
