:root {
    --darkblue: #1F2937; /* background, info header, quote text color */
    --vividblue: #3882F6;
    --offwhite: #F9FAF8; /* main & logo text color */
    --grey: #E5E7EB; /* quote background & nav links color */
    --darkgrey: #6d747d;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

/*header */

header {
    background-color: var(--darkblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em 0;
}
p#logo {
    color: var(--offwhite);
    font-weight: 600;
    font-size: 1.2em;
}
nav {
    display: flex;
    flex-direction: column;
}
.nav {
    color: var(--offwhite);
    text-decoration: none;
    opacity: 0.7;
    font-size: 0.9em;
}
.nav:hover {
    opacity: 1;
    transition: all 0.3s;
}

/* main */

main {
    background-color: var(--darkblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0.5em;
    flex-direction: column-reverse;
}
section#mainSection {
    color: var(--offwhite);
}
h1#h1main {
    font-size: clamp(1.3rem, 2.5vw, 2rem); 
}

p#pmain {
    font-weight: 300;
    opacity: 0.9;
    line-height: 1.2em;
    padding: 0.5em 0;
}
button.buttonmain {
    background-color: var(--vividblue);
    border-radius: 5px;
    border: none;
    font-weight: 600;
    color: var(--offwhite);
    text-decoration: none;
    padding: 0.5em 3em;
    display: block;
    margin: auto;
}

button.buttonmain:hover {
    transition: all 0.3s;
    background-color: var(--offwhite);
    color: var(--vividblue);
    
}

aside {
    background-color: var(--darkgrey);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8em;
    width: 100vw;
    margin-bottom: 1em;
}
#paside {
    color: var(--grey);
    font-size: clamp(0.8em, 2.5vw, 1.1em);
}

/* rectangles */

section#rectangleSection {
    padding: 1.5em 0.5em;
}
h2#h2sq {
    text-align: center;
    margin-bottom: 1em;
    font-size: clamp(1.2rem, 2.3vw, 1.7rem); 
}
div#squares {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div.square {
    border-radius: 20px;
    border: 5px solid var(--vividblue);
    width: 10em;
    height: 10em;
    margin: auto;
}
p.underSquares {
    line-height: 1.4em;
    max-width: 10em;
    text-align: center;
    padding: 0.5em 0 1em;
    font-size: clamp(0.9em, 2.5vw, 2em);
    margin: auto;
}

/* quote */

section#quoteSection {
    background-color: var(--grey);
    padding: 3em 1.5em;
}
p#quote {
    font-style: italic;
    font-weight: 200;
    line-height: 1.2em;
    font-size: clamp(1.3em, 2.5vw, 2em);
}
p#quoteAuthor {
    margin-top: 0.5em;
    text-align: right;
    font-weight: 500;
    font-size: clamp(0.9em, 2.5vw, 2em);
}

/* call 2 action */

div#c2a-box {
    background-color: var(--vividblue);
    color: var(--offwhite);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    padding: 1em 0.5em;
}
h2#c2a-h2 {
    font-weight: 600;
    line-height: 1.4em;
}
p#c2a-p {
    line-height: 1.2em;
    font-weight: 300;
    opacity: 0.8;
}
button#c2a-button {
    border-radius: 10px;
    background-color: var(--vividblue);
    color: var(--offwhite);
    font-weight: 600;
    border: 2px solid var(--offwhite);
    padding: 0.5em;
    margin-left: 0.5em
}
button#c2a-button:hover {
    color: var(--vividblue);
    border-color: var(--offwhite);
    background-color: var(--offwhite);
    transition: all 0.3s;

}

/* footer */

footer{
    background-color: var(--darkblue);
    padding: 1em 0;
    font-size: clamp(0.9em, 2.5vw, 2em);
}
p#footer {
    color: var(--offwhite);
    font-weight: 200;
    text-align: center;
}
a#footer-a {
    text-decoration: none;
    font-weight: 500;
    color: #FFA366;   
}
a#footer-a:hover {
    color: var(--vividblue);
    transition: all 0.5s;
}

@media (min-width: 400px) {
    main {
        padding: 2em 0.5em;
    }
    div#c2a-box {
        margin: 2em 1em;
        padding: 1.5em 1em;
    }
}

@media (min-width: 650px) {
    header {
        padding: 1em 1.5em 0;
    }
    nav {
        flex-direction: row;
    }
    .nav {
        margin-left: 1em;
    }
    main {
        flex-direction: row;
        padding: 4em 1.5em;
    }
    button.buttonmain {
        margin: 0;
        padding: 0.5em 2em;
    }
    aside {
        margin-left: 2em;
        margin-bottom: 0;
    }
    p#paside {
        text-align: center;
    }
    section#rectangleSection {
        padding: 2em;
    }
    section#quoteSection {
        padding: 3em 4em
    }
    div#c2a-box {
        margin: 2em 1.5em;
        padding: 1.5em 3em;
    }
    button#c2a-button {
        padding:  0.5em 1em;
    }
}